<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me</title>
    <link rel="stylesheet" href="../public/about.css" />
    <link rel="stylesheet" href="../icons.css" />
  </head>
  <body>
    <div class="container">
      <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />

        <label for="navi-toggle" class="navigation__button">
          <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a href="../index.html" class="navigation__link"
                ><span><i class="icon-basic-home"></i></span>HOME</a
              >
            </li>
            <li class="navigation__item">
              <a href="../views/about.html" class="navigation__link "
                ><span
                  ><i class="icon-basic-todolist-pen nav_icons_other"></i></span
                >ABOUT</a
              >
            </li>
            <li class="navigation__item">
              <a href="../views/projects.html" class="navigation__link"
                ><span
                  ><i class="icon-basic-pencil-ruler nav_icons_other"></i></span
                >PROJECT</a
              >
            </li>
            <li class="navigation__item">
              <a href="../views/resume.html" class="navigation__link"
                ><span>
                  <i class="icon-basic-sheet-txt nav_icons_other"></i></span
                >RESUME</a
              >
            </li>
            <li class="navigation__item">
              <a href="../views/contact.html" class="navigation__link"
                ><span
                  ><i
                    class="icon-basic-mail-open-text nav_icons_other"
                  ></i></span
                >CONTACT</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="header">
        <h1 class="heading">INFORMATION</h1>
        <h2 class="aboutheding">ABOUT <span class="heading_span">ME</span></h2>
      </div>
      <div class="intro">
        <p class="details">
          <span class="detail_start">
            Hey there! <span class="emoji">👋</span></span
          >
          <br />I'm SANJAYKUMAR G,I am a SOC Analyst, Bug Hunter, and Cybersecurity Enthusiast with a strong foundation in network security, vulnerability research, and firewall management. I specialize in identifying and mitigating vulnerabilities, detecting cyber threats, and implementing strategies to defend digital environments.

          As a SOC Analyst, I use industry-standard tools like Splunk, Wireshark, and SIEM platforms to monitor networks, analyze security incidents, and respond swiftly to threats. My expertise extends to network traffic analysis, IDS/IPS management, and firewall rule configuration to ensure robust defenses are in place across systems and networks.
          
          As an active bug hunter, I focus on discovering vulnerabilities in web applications and systems, participating in bug bounty programs to find and report flaws before malicious actors can exploit them. I am proficient in identifying and exploiting common vulnerabilities such as SQL injection, XSS, and RCE.
          
          I am committed to continuous growth, currently pursuing certifications like CompTIA Security+, Certified Ethical Hacker (CEH), and Certified SOC Analyst (CSA) to enhance my skills in threat detection, incident response, and security automation.
          
        </p>
      </div>
      <div class="personal_info">
        <div class="infohead">
          <h2 class="personal">PERSONAL <span class="heading_span">INFO</span></h2>
        </div>
        <div class="both">
          <div class="infoleft">
            <h4>First Name : <span class="higlight">SANJAYKUMAR G</span></h4>
            <h4>Age : <span class="higlight">22 Years</span></h4>
            <h4>Nationality : <span class="higlight">Indian</span></h4>
            <h4>Freelance : <span class="higlight">Available </span></h4>
          </div>
          <div class="inforight">
            <h4>Address :<span class="higlight">Coimbatore,Tamilnadu</span></h4>
            <h4>Phone : <span class="higlight">+91 8072875397</span></h4>
            <h4>
              Email : <span class="higlight">sanjaykumarg.dev@gmail.com</span>
            </h4>

            <h4>Langages : <span class="higlight">Tamil,English,Telugu</span></h4>
          </div>
        </div>
        <div class="resume_btn">
          <a href="./resume.html"
            ><button class="btn_resume">OPEN RESUME</button></a
          >
        </div>
      </div>
      <div class="skills">
        <div class="skillheading">
          <h2 class="skilltitle">MY <span class="heading_span">SKILLS</span></h2>
        </div>
        <div class="skill_lists">
          <div class="Burp Suite">
            <img src="c:\Users\Administrator\Downloads\image_search_1732000273564.png"alt="" />
          </div>
          <div class="Metaspolit">
            <img src="C:\Users\Administrator\Downloads\image_search_1732000385807.png"alt="" />
          </div>
          <div class="Nmap">
            <img src="C:\Users\Administrator\Downloads\image_search_1732000308021.png" alt="" />
          </div>
          <div class="KaliLinux">
            <img src="C:\Users\Administrator\Downloads\image_search_1732000333702.png" alt="" />
          </div>
          <div class="SQL">
            <img src="C:\Users\Administrator\Downloads\image_search_1732000512683.png" alt="" />
          </div>
          <div class="node">
            <img src="../images&video/nodejs-original-wordmark.svg" alt="" />
          </div>
          <div class="mongo">
            <img src="../images&video/mongodb-original-wordmark.svg" alt="" />
          </div>
          <div class="mysql">
            <img src="../images&video/mysql-original-wordmark.svg" alt="" />
          </div>
          <div class="c">
            <img src="../images&video/c-original.svg" alt="" />
          </div>
          <div class="python">
            <img src="../images&video/python-original-wordmark.svg" alt="" />
          </div>
          <div class="git">
            <img src="../images&video/git-original-wordmark.svg" alt="" />
          </div>
          <div class="github">
            <img src="../images&video/github-original-wordmark.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
