<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="stylesheet" href="../public/contact.css" />
    <link rel="stylesheet" href="../icons.css" />
  </head>
  <body>
    <div class="container">
      <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />

        <label for="navi-toggle" class="navigation__button">
          <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a href="../index.html" class="navigation__link"
                ><span><i class="icon-basic-home"></i></span>HOME</a
              >
            </li>
            <li class="navigation__item">
              <a href="../views/about.html" class="navigation__link"
                ><span
                  ><i class="icon-basic-todolist-pen nav_icons_other"></i></span
                >ABOUT</a
              >
            </li>
            <li class="navigation__item">
              <a href="../views/projects.html" class="navigation__link"
                ><span
                  ><i class="icon-basic-pencil-ruler nav_icons_other"></i></span
                >PROJECT</a
              >
            </li>
            <li class="navigation__item">
              <a href="../views/resume.html" class="navigation__link"
                ><span>
                  <i class="icon-basic-sheet-txt nav_icons_other"></i></span
                >RESUME</a
              >
            </li>
            <li class="navigation__item">
              <a href="../views/contact.html" class="navigation__link "
                ><span
                  ><i
                    class="icon-basic-mail-open-text nav_icons_other"
                  ></i></span
                >CONTACT</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="header">
        <h1 class="heading">FEEL FREE TO</h1>
        <h2 class="aboutheding">CONT<span class="heading_span">ACT</span></h2>
      </div>
      <div class="contact">
        <div class="right">
          <div class="instagram smedia">
            <a
              href=" https://www.instagram.com/https.sgmappilaisanju_?igsh=enlwdThtenZ6dDBv"
            >
              <img
                src="../images&video/instagram.png"
                alt=""
                class="contact_icons"
            /></a>
          </div>
          <div class="whatsapp smedia">
            <a href="https://wa.me/qr/4QKQ7T7V72CPC1">
              <img
                src="../images&video/whatsapp.png"
                alt=""
                class="contact_icons"
              />
            </a>
          </div>
          <div class="inkedin smedia">
            <a href="http://www.linkedin.com/in/sanjay-s-7b5976250">
              <img
                src="../images&video/linkedin.png"
                alt=""
                class="contact_icons"
              />
            </a>
          </div>
          <div class="leetcode smedia">
            <a href="https://leetcode.com/u/SanjayKumar_404/">
              <img
                src="../images&video/leetcode.png"
                alt=""
                class="contact_icons"
              />
            </a>
          </div>
          <div class="github smedia">
            <a href="https://github.com/2103Sanjay"
              ><img
                src="../images&video/github.png"
                alt=""
                class="contact_icons"
            /></a>
          </div>
        </div>
        <div class="left">
          <p class="contact_discription">
            🔒 Welcome to the world of cybersecurity! 🛡️ I'm Sanjaykumar G, a passionate and experienced SOC Analyst committed to protecting digital landscapes and safeguarding critical data from emerging threats. 🚨

            With a deep understanding of security operations, threat detection, and real-time analysis, I specialize in monitoring and responding to security incidents to ensure the safety and integrity of your systems. I leverage advanced tools and techniques to identify vulnerabilities, prevent breaches, and mitigate risks. 🖥️
            
            Whether it's analyzing alerts, investigating suspicious activities, or coordinating incident response, my goal is to keep your organization secure from evolving cyber threats. 🔍
          </p>
        </div>
      </div>
    </div>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="../js/contact.js"></script>
  </body>
</html>
