<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="../public/projects.css" />
    <link rel="stylesheet" href="../icons.css" />
  </head>
  <body>
    <div class="container">
      <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />

        <label for="navi-toggle" class="navigation__button">
          <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a href="../index.html" class="navigation__link"
                ><span><i class="icon-basic-home"></i></span>HOME</a
              >
            </li>
            <li class="navigation__item">
              <a href="../views/about.html" class="navigation__link"
                ><span
                  ><i class="icon-basic-todolist-pen nav_icons_other"></i></span
                >ABOUT</a
              >
            </li>
            <li class="navigation__item">
              <a href="../views/projects.html" class="navigation__link"
                ><span
                  ><i class="icon-basic-pencil-ruler nav_icons_other"></i></span
                >PROJECT</a
              >
            </li>
            <li class="navigation__item">
              <a href="../views/resume.html" class="navigation__link"
                ><span>
                  <i class="icon-basic-sheet-txt nav_icons_other"></i></span
                >RESUME</a
              >
            </li>
            <li class="navigation__item">
              <a href="../views/contact.html" class="navigation__link"
                ><span
                  ><i
                    class="icon-basic-mail-open-text nav_icons_other"
                  ></i></span
                >CONTACT</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="header">
        <h1 class="heading">MY RESENT</h1>
        <h2 class="aboutheding">PROJ<span class="heading_span">ECTS</span></h2>
      </div>
      <div class="container_projects">
        <div class="projects margin_top">
          <div class="project_img">
            <img
              src="../images&video/E commerce.png"
              alt=""
              class="projectimg"
            />
          </div>
          <div class="project_discription">
            <div class="project_title">
              <p class="project_name">COSY NEST</p>
            </div>
            <div class="project_detail">
              <p class="project_detail_content">
                Crafted a full-stack e-commerce platform featuring robust
                authentication mechanisms, ensuring secure transactions and
                personalized user experiences, resulting in heightened customer
                trust and engagement.
              </p>
            </div>
            <div class="project_buttons">
              <div class="button_preview">
                <a href="ecommerce.html"
                  ><button class="btn">PREVIEW</button></a
                >
              </div>
              <div class="button_github">
                <button class="btn">
                  <a
                    href="https://github.com/2103Sanjay/E-commerce-full-stack-.git"
                    >GIT HUB</a
                  >
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="projects">
          <div class="project_img">
            <img src="../images&video/mapty.png" alt="" class="projectimg" />
          </div>
          <div class="project_discription">
            <div class="project_title">
              <p class="project_name">MAPTY📍</p>
            </div>
            <div class="project_detail">
              <p class="project_detail_content">
                Developed "Mapty," a dynamic web app for logging running and cycling workouts.Implemented real-time location tracking and data visualization using advanced JavaScript.Built a robust, maintainable codebase with JavaScript's OOP principles.Ensured persistent data storage using browser local storage.
              </p>
            </div>
            <div class="project_buttons">
              <div class="button_preview">
                <a href="https://2103sanjay.github.io/Mapty/"
                  ><button class="btn">PREVIEW</button></a
                >
              </div>
              <div class="button_github">
                <button class="btn">
                  <a
                    href="https://github.com/2103Sanjay/Mapty"
                    >GIT HUB</a
                  >
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="projects">
          <div class="project_img">
            <img src="../images&video/tour.png" alt="" class="projectimg" />
          </div>
          <div class="project_discription">
            <div class="project_title">
              <p class="project_name">NATOUR</p>
            </div>
            <div class="project_detail">
              <p class="project_detail_content">
                A advance website that adapts seamlessly to various screen sizes
                and devices, to showcasing my proficiency in responsive design
                techniques.
              </p>
            </div>
            <div class="project_buttons">
              <div class="button_preview">
                <a href="https://2103sanjay.github.io/Tourbooking-responsive-/"
                  ><button class="btn">PREVIEW</button></a
                >
              </div>
              <div class="button_github">
                <button class="btn">
                  <a
                    href="https://github.com/2103Sanjay/Tourbooking-responsive-.git"
                    >GIT HUB</a
                  >
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="projects">
          <div class="project_img">
            <img src="../images&video/guess.png" alt="" class="projectimg" />
          </div>
          <div class="project_discription">
            <div class="project_title">
              <p class="project_name">GUESS ME</p>
            </div>
            <div class="project_detail">
              <p class="project_detail_content">
                The objective of the game is for the player to guess the correct
                number chosen by the computer. The player receives feedback
                after each guess, helping them refine their guesses until they
                find the correct number.
              </p>
            </div>
            <div class="project_buttons">
              <div class="button_preview">
                <a href="https://2103sanjay.github.io/Guess-Number/"
                  ><button class="btn">PREVIEW</button></a
                >
              </div>
              <div class="button_github">
                <button class="btn">
                  <a href="https://github.com/2103Sanjay/Guess-Number.git"
                    >GIT HUB</a
                  >
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
